code {
    margin-left: 20px;

}

code2 {
    margin-left: 40px;
}

code3 {
    margin-left: 60px;
}

code4 {
    margin-left: 80px;
}

f_g {
    color: darkgreen;
}

f_b {
    color: darkblue;
}

.program {
    font-size: 14px;
    color: #000000;
    background: grey;
    width: 50%;
}

small {
    font-size: 18px;
}

body {
	height: 100%;
	width: 99%;
	font-size: 14px;
	font-family: Monospace;
	color: #FFFFFF;
	background-color: #000000;
}

a {
	color: #FF8833;
	text-decoration: none;
}

.footer {
    padding: 5px;
	height: 100%;
	width: 95%;
	float: bottom;
	text-align: center;
	display: line;
	outline: 1px solid #FFFFFF;
}

.menu_mobile {
    padding: 5px;
	height: 100%;
	width: 95%;
	float: top;
	text-align: center;
	display: line;
	font-size: 8px;
	outline: 1px solid #FFFFFF;
}

.main {
    outline: 1px solid #FFFFFF;
    padding: 5px;
	height: 100%;
	width: 95%;
	float: bottom;
}
