/* Sections unlikely to change */
main { max-width: 100%; }

.menu { background-color: orange; color: black; font-size: 26px; }
.float_left { width: 200; padding: 10; float: left; }
.float_right { width: 200; padding: 10; float: right; }
.footer {
    float: bottom;
    position: static;
    background-color: orange;
    color: black;
    font-size: 26px;
    display: flex;

}

big { font-size: 25px; }
iframe { max-width: 75%; }
blockquote { font-style: italic; }
table, th, td { border: 1px solid grey; }
img { max-width: 75%; padding: 3px; }

a:hover { text-decoration: underline wavy; color: black; background: orange; }
a:active { color: #C0F0FC; }
a { text-decoration: none; color: lightblue; }

body {
    font-family: Monospace;
    font-size: 16px;
    background: black;
    color: orange;
}

section {
    border: 2px solid darkgrey;
    border-radius: 10px;
    padding: .3rem;
    margin: 4px;
}

.image_box a {
    border: 1px grey solid;
    font-size: 12px;

    display: inline-block;
    text-align: center;

    max-height: auto;
    max-width: auto;

    margin: 1px;
    padding: 1px;
    border-radius: 10px;
}

.image_box img {
    max-width: 175px;
    max-height: 175px;
}

.back_button {
    border: solid thin black;
    border-radius: 10px;

    padding: 8px;
    display: inline-block;
}
