indent {
    margin-left: 20px;
}

indent_2 {
    margin-left: 40px;
}

indent_3 {
    margin-left: 60px;
}

indent_4 {
    margin-left: 80px;
}

font_green {
    color: darkgreen;
}

font_red {
    color: darkred;
}

font_blue {
    color: darkblue;
}

font_brown {
	color: brown;
}

.footer {
	float: bottom;
	display: line;
}

table, th, td {
	border: 1px solid black;
}

element {
}

body {
	font-family: Arial;
}

.main div {
    display: flex;
}

.pd {
    width: 7em;
    flex-shrink: 0;
    padding-bottom: .9em;
}

img {
	max-width: 75%;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/* This was stolen from Xah Lee's website at http://xahlee.info (thanks, Xah)*/
.image_box a {
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
    border: solid thin grey;
    border-radius: 1rem;
    padding: 8px;
    margin: 4px; 
}

.back_button a {
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
    border: solid thin grey;
    border-radius: 1rem;
    padding: 8px;
    margin: 4px; 
}

/* This was stolen from Xah Lee's website at http://xahlee.info (thanks, Xah)*/
section {
    border: solid thin grey;
    padding: .3rem;
    margin: 4px; 
    border-radius: 1rem;
}
