indent {
    margin-left: 20px;
}

indent_2 {
    margin-left: 40px;
}

indent_3 {
    margin-left: 60px;
}

indent_4 {
    margin-left: 80px;
}

font_green {
    color: darkgreen;
}

font_red {
    color: darkred;
}

font_blue {
    color: darkblue;
}

font_brown {
	color: brown;
}

.footer {
	float: bottom;
	display: line;
}

table, th, td {
	border: 1px solid black;
}

body {
	font-family: bigblue_terminalplus;
	color: white;
	background-color: black;
}

img {
	max-width: 75%;
}

b {
	color: orange;
}

code {
	font-family: monospace;
}

/* NOTE TO READER: Some of the CSS here is stolen from Xah Lee's website (http://xahlee.info) and modified to my preferences. He is a god tier functional web designer. Be sure to check out his website. */
.image_box a {
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
    border: solid thin grey;
    padding: 8px;
    margin: 4px; 
}

.back_button a {
    display: inline-block;
    border: solid thin grey;
    padding: 8px;
    margin: 4px; 
}

section {
    border: solid thin grey;
    padding: .3rem;
    margin: 4px; 
}

iframe {
	max-width: 75%;
}

h1 {
	color: red;
}

h2 {
	color: green;
}

h3 {
	color: blue;
}

@font-face {
	font-family: bigblue_terminalplus;
	src: url(files/BigBlue_TerminalPlus.TTF);
}
