indent { margin-left: 20px; }
indent_2 { margin-left: 40px; }
indent_3 { margin-left: 60px; }
indent_4 { margin-left: 80px; }

font_green { color: darkgreen; }
font_red { color: darkred; }
font_blue { color: darkblue; }
font_brown { color: brown; }

.footer { float: bottom; display: line; }

b { color: orange; }

iframe { max-width: 75%; }

h1 { color: red; }
h2 { color: green; }
h3 { color: blue; }

table, th, td { border: 1px solid black; }



body {
	font-size: 18px;
	font-family: monospace;
	color: white;
	background-color: black;
	padding: 10px;
}

img {
	max-width: 75%;
	background: white;
}

code {
	font-family: monospace;
	color: white;
	background-color: grey;
}

small {
	font-size: 12px;
}

big {
	font-size: 25px;
}

section {
    border: solid thin grey;
    padding: .3rem;
    margin: 4px; 
}

blockquote {
	font-style: italic;
}

.image_box a {
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
    border: solid thin grey;
    padding: 8px;
    margin: 4px; 
}

.back_button a {
    display: inline-block;
    border: solid thin grey;
    padding: 8px;
    margin: 4px; 
}

/*
@font-face {
	font-family: bigblue terminalplus;
	src: url(files/BigBlue_TerminalPlus.TTF);
}
*/
