/* Sections unlikely to change */
main { max-width: 100%; }
html { background-color: white; }

.float_left { width: 200; padding: 10; float: left; }
.float_right { width: 200; padding: 10; float: right; }
.footer { float: bottom; position: static; display: line; }

big { font-size: 25px; }
iframe { max-width: 75%; }
blockquote { font-style: italic; }
table, th, td { border: 1px solid grey; }

a:hover { color: #0CFC0C; }
a:active { color: #C0F0FC; }

h1 {
    color: darkred;
    text-shadow: 3px 3px 3px grey;
}

h2 {
    color: darkgreen;
    text-shadow: 2px 2px 2px grey;
}

h3 {
    color: darkblue;
    text-shadow: 1px 1px 1px grey;
}

body {
    font-family: Arial;
    padding: 12px;
    margin: 1em auto;

    border-radius: 6px;
    border: solid grey 2px;

    max-width: 900px;
    background-color: #e8f1ff;
    box-shadow: 7px 7px 3px lightgrey;
}

img {
    max-width: 75%;
    padding: 3px;
    border-radius: 10px;
}

section {
    border: 2px solid darkgrey;
    box-shadow: 3px 3px 3px lightgrey;
    border-radius: 10px;
    padding: .3rem;
    margin: 4px;
}

.image_box a {
    border: 1px grey solid;
    font-size: 12px;

    display: inline-block;
    text-align: center;

    max-height: auto;
    max-width: auto;

    box-shadow: 2px 2px 2px lightgrey;
    border-radius: 10px;
}

.image_box img {
    max-width: 175px;
    max-height: 175px;
}

.back_button {
    border: solid thin black;
    border-radius: 10px;

    padding: 8px;
    display: inline-block;
    box-shadow: 7px 7px 3px lightgrey;
}
