indent {
    margin-left: 20px;
}

indent_2 {
    margin-left: 40px;
}

indent_3 {
    margin-left: 60px;
}

indent_4 {
    margin-left: 80px;
}

font_green {
    color: darkgreen;
}

font_red {
    color: darkred;
}

font_blue {
    color: darkblue;
}

font_brown {
	color: brown;
}

code {
    font-color: #FFFFFF;
    background-color: #a3a3a3;
	/* D3D3D3 */
    font-size: 11px;
}

body {
	color: #FFFFFF;
	background-color: #000000;
}

a {
	text-decoration: none;
}

big {
    font-size: 40px;
}

small {
    font-size: 13px;
}

.main {
    padding: 5px;
	float: bottom;
	margin: auto;
}

.footer {
	float: bottom;
	display: line;
}

table, th, td {
   border: 1px solid black;
}

img {
	  border:solid thin grey;
}
