a { color: inherit; }

b { text-shadow: grey 0px 1px 0px; }

big { font-size: 25px; }

blockquote { font-style: italic; }

code { border: solid thin grey; }

html { background-color: #FFFFFF; }

iframe { max-width: 75%; }

main { max-width: 100%; }

table, th, td { border: 1px solid grey; }

.footer { float: bottom; position: static; display: line; }

h1, h2, h3 { text-shadow: 2px 2px grey; }

.float_right {
    width: 200;
    padding: 10;
    float: right;
}

.float_left {
    width: 200;
    padding: 10;
    float: left;
}

body {
	background-color: #dcdcdc;
	margin: 6 auto;
	max-width: 900px;
	padding: 20px;
    font-family: Arial;
    outline: 2px grey solid;

    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    box-shadow: 4px 3px 8px 1px #969696;
}

img {
    border-radius: 6px;
    border: solid thin grey;
    box-shadow: 10px 10px 5px #ccc;
    max-width: 75%;
    padding: 1px;
    text-shadow: 2px 2px grey;

    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

section {
    border: solid thin grey;
    border-radius: 6px;
    padding: .3rem;
    margin: 4px;

    -moz-box-shadow: 5px 5px 2.5px #ccc;
    -webkit-box-shadow: 5px 5px 2.5px #ccc;
    -khtml-box-shadow: 5px 5px 2.5px #ccc;
}

.image_box a {
    max-width: auto;
    max-height: auto;
    display: inline-block;
    padding: 8px;
    margin: 4px;
    font-size: 12px;
    text-align: center;
}

.image_box img {
    border-radius: 6px;
    max-width: 150px;

    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

.back_button a {
    padding: 8px;
    display: inline-block;
    border: solid thin grey;
    border-radius: 6px;

    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}
